:root {
    --background-color: linear-gradient(0deg, rgba(53,31,80,1) 0%, rgba(17,17,17,1) 57%, rgba(17,17,17,1) 100%);
    --hyperlink-color: #AE75F4;
    --blur-effect-color: #ae75f442;
    --background-block: #272727;
    --active-text-color: #FFFFFF;
    --default-text: #9B9B9B;

    --btn-background: #fff;
    --btn-background-hover: var(--hyperlink-color);
    --btn-text-color: #000;
    --btn-text-color-hover: #fff;
}
* {
    font-family: "Raleway", sans-serif;
    color: var(--default-text);
}
body {
    height: 100%;
    background: var(--background-color);
}
* i {
    color: inherit;
}
.wrapper  * {
    box-sizing: border-box;
}
.wrapper {
    min-height: calc(100vh - 120px);
    padding-top: 120px;
    overflow: hidden;
}
a,
a i {
    color: var(--hyperlink-color);
    text-decoration: none;

    transition: 0.15s ease;
}
a:hover,
a:hover i {
    color: var(--active-text-color);
}
.btn {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 40px;

    color: var(--btn-text-color);
    background: var(--btn-background);

    border: 0;
    border-radius: 50px;
    transition: 0.15s ease;

    cursor: pointer;
}
.btn:hover {
    color: var(--btn-text-color-hover);
    background: var(--btn-background-hover);
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.image-cover img {
    object-fit: cover;
}
.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1420px;
}
.header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 999;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: var(--background-block);
    border-radius: 100px;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.75);

    margin: 0 auto;
    padding: 11px 34px;
}
.header-nav {
    font-family: "Inter", sans-serif;
}
.header-inner ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.header-nav li:not(:last-child) {
    margin-right: 35px;
}
.header__external-links li:not(:last-child) {
    margin-right: 23px;
}
.header nav span {
    color: var(--active-text-color);
}
.vertical-divider {
    display: block;
    background: var(--default-text);
    width: 2px;
    height: 100%;
}
.header-inner .vertical-divider {
    height: 30px;
    margin: 0 38px;
}
.homepage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    width: 100%;
}
.homepage-info {
    max-width: 585px;
}
h1, h2, h3, h4 {
    color: var(--active-text-color);
    font-weight: 600;
}
h1 {
    font-size: 55px;
}
.text-content {
    font-size: 22px;
    line-height: 1.8;
}
.text-content b {
    color: var(--active-text-color);
    font-weight: 500;
}
.homepage h1 {
    font-weight: 400;
    margin-bottom: 10px;
}
.homepage h2,
.homepage h2 > span {
    color: var(--hyperlink-color);
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 31px;
}
.homepage-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.homepage-info__text {
    margin-bottom: 20px;
}
.homepage-btn__wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.homepage-btn__wrapper .btn {
    margin-bottom: 10px;
}
@keyframes cursor-typing-animation {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
.homepage .cursor {
    animation: cursor-typing-animation 1s infinite;
}
.not-found {
    --background-color: linear-gradient(0deg, rgba(80,31,37,1) 0%, rgba(17,17,17,1) 57%, rgba(17,17,17,1) 100%);
    --hyperlink-color: #F47577;
    --btn-background-hover: var(--hyperlink-color);
}
.not-found-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.not-found h1 {
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 12px;
}
.not-found h2 {
    color: var(--hyperlink-color);
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 24px;
}
.page-header {
    margin-top: 120px;
    margin-bottom: 60px;
    text-align: center;
}
.page-header h1 {
    color: var(--active-text-color);
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 50px;
}
.page-header .page-description {
    font-size: 26px;
    line-height: 1.8;
    max-width: 830px;
    margin: 0 auto;
}
.page-header .page-description b {
    color: var(--active-text-color);
    font-weight: 500;
}
.page-header {
    position: relative;
}
.page-header > * {
    position: relative;
}
.page-header__effect {
    position: absolute;
    width: 500px;
    height: 500px;

    bottom: calc(50% + 79px);
    right: calc(50% - 40px);
    transform: translate(50%, 50%);

    background: radial-gradient(circle at center, var(--hyperlink-color) 0, #ae75f400 70%);
    opacity: 0.2;

    animation: header-blur-anim 7s infinite;
    animation-timing-function: linear;
}
.page-header__effect-2 {
    bottom: calc(50% - 10px);
    right: calc(50% + 140px);

    animation: header-blur-2-anim 7s infinite;
    animation-timing-function: linear;
}
@keyframes header-blur-anim {
    0%, to {
        bottom: calc(50% + 79px);
        right: calc(50% - 40px);
    }
    40% {
        bottom: calc(50% + 50px);
        right: calc(50%);
    }
    60% {
        bottom: calc(50%);
        right: calc(50% - 150px);
    }
    80% {
        bottom: calc(50% + 90px);
        right: calc(50% - 90px);
    }
}
@keyframes header-blur-2-anim {
    0%, to {
        bottom: calc(50% - 10px);
        right: calc(50% + 140px);
    }
    40% {
        bottom: calc(50% - 50px);
        right: calc(50% + 172px);    
    }
    60% {
        bottom: calc(50% - 100px);
        right: calc(50% + 50px);
    }
    80% {
        bottom: calc(50% - 100px);
        right: calc(50% - 140px);
    }
}

/* Body themes */
body.favorite-pages {
    --background-color: linear-gradient(180deg, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 57%, rgba(31,80,80,1) 100%);
    --hyperlink-color: #5AF1D2;
    --blur-effect-color: #75f0f442;
}
body.projects {
    --background-color: linear-gradient(0deg, rgba(80,49,31,1) 0%, rgba(17,17,17,1) 57%, rgba(17,17,17,1) 100%);
    --hyperlink-color: #F1B75A;
    --blur-effect-color: #6C5A32;
}
body.education {
    --background-color: linear-gradient(0deg, rgba(24,56,20,1) 0%, rgba(17,17,17,1) 57%, rgba(17,17,17,1) 100%);
    --hyperlink-color: #66F15A;
    --blur-effect-color: #426C32;
}
body.contacts {
    --background-color: linear-gradient(0deg, rgba(56,20,43,1) 0%, rgba(17,17,17,1) 57%, rgba(17,17,17,1) 100%);
    --hyperlink-color: #E45AF1;
    --blur-effect-color: #6C3266;
}
body.skills {
    --background-color: linear-gradient(0deg, rgba(31,37,80,1) 0%, rgba(17,17,17,1) 57%, rgba(17,17,17,1) 100%);
    --hyperlink-color: #75A2F4;
    --blur-effect-color: #32456C;
}

/* Forms */
form *:focus {
    outline: 0;
}
.input-text {
    position: relative;
    background: var(--background-block);
    border-radius: 20px;
    margin-bottom: 10px;
}
.input-text label {
    font-size: 18px;
    position: absolute;
    left: 16px;
    top: 15px;
    padding: 2px 5px;
    border-radius: 10px;
    transition: 0.15s ease;
}
.input-text input, 
.input-text textarea {
    font-size: 18px;
    width: 100%;
    padding: 16px 24px;
    background: transparent;
    box-sizing: border-box;
    border: 0;
}
.input-text textarea {
    resize: vertical;
}
.input-text:has(input:focus) label,
.input-text:has(input:not(:placeholder-shown)) label,
.input-text:has(textarea:focus) label,
.input-text:has(textarea:not(:placeholder-shown)) label {
    display: inline-block;
    background: rgba(17,17,17,1);
    top: -10px;
}


.favorites-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 48px;
    column-gap: 38px;
}
.model-item {
    position: relative;
    padding: 20px 25px;
    border: 1px solid var(--default-text);
    border-radius: 20px;
}
.model-item__header {
    display: flex;
    margin-bottom: 25px;
}
.model-item__header .icon {
    width: 46px;
    height: 46px;
    margin-right: 17px;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
}
.model-item__header h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 2px;
}
.model-item__header a {
    color: var(--active-text-color);
    font-size: 14px;
    font-weight: 300;

    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    word-break: break-word;
}
.model-item__info {
    font-size: 20px;
    line-height: 1.4;
}
.project-items {
    position: relative;
}
.project {
    display: flex;
    background: var(--background-block);
    border: 1px solid var(--default-text);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 50px;
}
.project-thumbnail {
    width: 270px;
    flex-shrink: 0;
}
.project-info {
    padding: 22px 48px;
    width: 100%;
}
.project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    margin-bottom: 16px;
}
.project-header h3 {
    font-weight: 700;
}
.project-header .links a:not(:first-child) {
    margin-left: 15px;
}
.project-description {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 37px;
}
.project-description ul {
    padding-left: 20px;
}
.project-description a {
    color: var(--default-text);
    text-decoration: underline;
}
.project-skills .skill-item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 16px;
}
.skill-item {
    display: inline-flex;
    align-items: center;
}
.skill-item .skill-icon {
    width: 20px;
    height: 20px;
    padding: 7px;
    border-radius: 100%;
    background: #4B4B4B;
    box-sizing: content-box;
    margin-right: 8px
}
.skill-item .skill-label {
    font-size: 18px;
}
.timeline {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 60px;
}
.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    width: 2px;
    background: var(--default-text);
}
.timeline::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transform: translateX(-50%);
    background: var(--default-text);
}
.timeline-item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 50px;
}
.timeline-item:nth-child(2n) .education-item {
    order: 1;
}
.timeline-item:nth-child(2n) .timeline-date {
    text-align: right;
    order: 0;
}
.education-item {
    background: var(--background-block);
}
.education-item .icon{
    width: 46px;
    height: 46px;
    border-radius: 5px;
    overflow: hidden;
}

.timeline-icon {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border: 2px solid var(--default-text);
    border-radius: 100%;
    overflow: hidden;
}
.timeline-date {
    margin-top: 35px;
    color: var(--active-text-color);
    font-weight: 500;
    font-size: 18px;
}
.timeline-date span {
    color: inherit;
}
.education-item h3 {
    font-size: 20px;
    margin-bottom: 6px;
}
.education-item .model-item__header {
    margin-bottom: 20px;
}
.education-item .model-item__info {
    font-size: 16px;
}
.education-date__now {
    position: relative;
    padding-left: 12px;
}
.education-date__now::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: var(--hyperlink-color);
}
.quote {
    position: relative;
    color: var(--active-text-color);
    font-size: 26px;
    font-weight: 300;

    width: fit-content;
    margin: 0 auto;
    padding: 10px 30px 0 30px;
    padding-bottom: 32px;
}
.quote::before,
.quote::after {
    position: absolute;
    font-size: 26px;
    font-family: "Font Awesome 6 Free";
    color: var(--hyperlink-color);
}
.quote::before {
    content: '\f10d';
    top: -15px;
    left: 0px;
}
.quote::after {
    content: '\f10e';
    right: 0px;
    bottom: -35px;
}
.quote-author {
    position: absolute;
    bottom: 0;
    right: 30px;
    font-size: 18px;
}
.education .quote {
    margin-bottom: 50px;
    line-height: 1.4;
}
.contacts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.contacts .page-header {
    text-align: left;
}
.contact-info__links {
    position: relative;
}
.contact-info__links h3 {
    font-size: 24px;
    margin-bottom: 15px;
}
.contact-info__links ul {
    font-size: 18px;
    font-weight: 300;
    list-style: none;
}
.contact-info__links li {
    margin-bottom: 10px;
}
.contact-info__links a {
    font-weight: 400;
}
.contact-form {
    margin-top: 200px;
}
.contact-form .input-text {
    margin-bottom: 20px;
}
.alert {
    position: relative;
    display: block;
    color: #fff;
    padding: 15px;
    background: #393939;
    border-radius: 50px;
    margin-bottom: 20px;
    padding-left: 50px;
}
.alert::before {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Font Awesome 6 Free';
}
.alert-success {
    background: #177f00;
}
.alert-success::before {
    content: '\f058';
}
.alert-danger {
    background: #7f0000;
}
.alert-danger::before {
    content: '\f057';
}
.skills .page-header {
    margin-bottom: 150px;
}
.skills-phrases {
    text-align: center;
    margin-bottom: 150px;
}
.skills-phrases .phrase {
    font-size: 38px;
    margin-bottom: 95px;
    color: var(--active-text-color);
}
.soft-skills {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.soft-skills .item {
    width: 340px;
    border-radius: 25px;
    padding: 22px 28px;
    background: var(--hyperlink-color);
}
.soft-skills .icon {
    font-size: 30px;
    margin-bottom: 5px;
}
.soft-skills .name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.soft-skills .item:not(:last-child) {
    margin-right: 50px;
}
.soft-skills .item * {
    color: #000;
}
.skill-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 40px;
    margin-bottom: 120px;
}
.skill-categories h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.skill-categories .cat {
    padding: 23px 29px;
    border-radius: 20px;
    border: 1px solid var(--default-text);
}
.skill-categories .skill-item {
    display: flex;
    margin-bottom: 10px;
}

footer {
    width: fit-content;
    color: var(--active-text-color);
    border-radius: 50px;
    background: var(--background-block);
    padding: 15px 30px;
    margin: 20px auto;
    margin-top: 150px;
}
.mobile {
    display: none;
}
@media only screen and (max-width: 1160px) {
    .homepage {
        flex-direction: column-reverse;
    }
    .homepage-photo {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 950px) {
    .favorites-content {
        row-gap: 28px;
        column-gap: 18px;
    }
    .model-item__header {
        margin-bottom: 8px;
    }
    .model-item__header h3 {
        font-size: 20px;
    }
    .model-item__info {
        font-size: 16px;
    }
}
@media only screen and (max-width: 850px) {
    .mobile {
        display: block;
    }
    .header {
        width: 100%;

        top: 10px;
        left: 0;
        transform: translateX(0);
        padding: 0;
        box-sizing: border-box;
    }
    .header * {
        box-sizing: border-box;
    }
    .header-inner {
        position: relative;
        width: 100%;
        justify-content: space-between;
    }
    .header-inner .header-nav,
    .header-inner ul,
    .header-inner .vertical-divider {
        display: none;
    }
    .header__external-links li:not(:last-child) {
        margin-right: 18px;
    }
    #mobile-menu-btn {
        color: var(--hyperlink-color);
        font-size: 18px;
        border: 0;
        background: none;
        cursor: pointer;
    }
    .header-title a {
        color: var(--active-text-color);
    }
    .header-inner__mobile {
        position: absolute;
        width: calc(100% - 60px);
        left: 50%;
        transform: translateX(-50%);

        padding: 20px;
        border-radius: 20px;
        background: var(--background-block);

        -webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.75);
    }
    .header-inner__mobile .header-nav li {
        margin-right: 0;
    }
    .header nav span {
        color: var(--default-text);
    }
    .header-nav a {
        color: var(--active-text-color);
    }
    .header nav span,
    .header-nav a {
        display: block;
        text-align: center;
        padding: 10px;
    }
    .header-inner__mobile {
        top: -270px;
        opacity: 0;

        transition: 0.3s ease;
    }
    .header-inner__mobile.active {
        top: 60px;
        opacity: 1;
    }
    .homepage {
        padding: 0 30px;
    }
    .homepage-photo {
        width: 160px;
    }
    h1 {
        font-size: 40px;
    }
    .page-header {
        margin-top: 0;
        margin-bottom: 90px !important;
    }
    .page-header h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .page-header .page-description {
        font-size: 20px;
    }
    .skills-phrases .phrase {
        font-size: 25px;
        margin-bottom: 50px;
    }
    .soft-skills {
        display: block;
    }
    .soft-skills .item:not(:last-child) {
        margin-right: 0px;
    }
    .soft-skills .item {
        width: auto;
        margin-bottom: 15px;
    }
    .soft-skills .name {
        font-size: 16px;
    }
    .soft-skills .icon {
        font-size: 28px;
    }
    .soft-skills .descpr {
        font-size: 14px;
    }
    .skill-categories {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .favorites-content {
        grid-template-columns: 1fr 1fr;
    }
    .project {
        flex-direction: column;
    }
    .project-thumbnail {
        width: 100%;
        height: 250px;
    }
    .project-info {
        padding: 22px 20px;
    }
    .project-header .links {
        flex-shrink: 0;
    }
    .timeline-date {
        display: none;
    }
    .timeline-item {
        display: block;
        margin-bottom: 25px;
        padding-left: 45px;
    }
    .timeline::before {
        left: 10px;
        transform: translate(0);
    }
    .timeline-icon {
        left: -6px;
        transform: translate(0);
        width: 35px;
        height: 35px;
    }
    .timeline::after {
        left: 1px;
        transform: translate(0);
    }
    .education-item .model-item__header {
        margin-bottom: 10px;
    }
    .model-item__header h3 {
        font-size: 18px;
        margin-bottom: 8px;
    }
    .education-item .model-item__info {
        font-size: 14px;
    }
    .education-meta {
        font-size: 14px;
    }
    .contacts-container {
        display: block;
    }
    .contacts .page-header {
        margin-bottom: 30px !important;
    }
    .contact-info {
        margin-bottom: 50px;
    }
    .contact-form {
        margin-top: 0;
    }
}
@media only screen and (max-width: 500px) {
    .favorites-content {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 500px) {
    .homepage h2, .homepage h2 > span {
        font-size: 20px;
    }
    .text-content {
        font-size: 18px;
    }
    .btn {
        font-size: 16px;
        padding: 16px 25px;
    }
    .skill-categories {
        grid-template-columns: 1fr;
    }
    .page-header .page-description {
        font-size: 16px;
    }
    .education .quote {
        font-size: 18px;
    }
}
@media only screen and (max-width: 360px) {
    .contact-info__links span {
        display: block;
        margin-bottom: 5px;
    }
    .contact-info__links li {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 350px) {
    .education-item .icon {
        display: none;
    }
}