:root {
    --background-color: linear-gradient(0deg, rgba(53,31,80,1) 0%, rgba(17,17,17,1) 57%, rgba(17,17,17,1) 100%);
    --hyperlink-color: #AE75F4;
    --background-block: #272727;
    --active-text-color: #FFFFFF;
    --default-text: #9B9B9B;
}
* {
    font-family: "Raleway", sans-serif;
    color: var(--default-text);
}
body {
    background: var(--background-color);
}
.wrapper {
    min-height: calc(100vh - 120px);
    padding-top: 120px;
}
a {
    color: var(--hyperlink-color);
    text-decoration: none;

    transition: 0.15s ease;
}
a:hover {
    color: var(--active-text-color);
}
.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1420px;
}
.header-inner {
    display: flex;
    align-items: center;

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    
    background: var(--background-block);
    border-radius: 100px;

    margin: 0 auto;
    padding: 11px 34px;
}
.header-nav {
    font-family: "Inter", sans-serif;
}
.header-inner ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.header-nav li:not(:last-child) {
    margin-right: 35px;
}
.header__external-links li:not(:last-child) {
    margin-right: 23px;
}
.header nav span {
    color: var(--active-text-color);
}
.vertical-divider {
    display: block;
    background: var(--default-text);
    width: 2px;
    height: 100%;
}
.header-inner .vertical-divider {
    height: 30px;
    margin: 0 38px;
}
.homepage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    width: 100%;
}
.homepage-info {
    max-width: 585px;
}
h1, h2, h3, h4 {
    color: var(--active-text-color);
    font-weight: 600;
}
h1 {
    font-size: 55px;
}
.text-content {
    font-size: 26px;
    line-height: 48px;
}
.text-content b {
    color: var(--active-text-color);
    font-weight: 500;
}
.homepage h1 {
    font-weight: 400;
    margin-bottom: 10px;
}
.homepage h2 {
    color: var(--hyperlink-color);
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 31px;
}
.homepage-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}